.nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}