.nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

body {
    background-color: cyan;
}